.main {
  background-color: white;
  padding: 25px;
}

.form-container {
  display: flex;
  justify-content: center;
}
form {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 0.5rem;
}
